<a href="https://colab.research.google.com/github/vinayakpotdar2114/Daily-Assignemnts/blob/main/Assignment_Week_3_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL**

In [1]:
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.5 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

## **Introduction**
Subscription based businesses are super popular and Danny realised that there was a large gap in the market - he wanted to create a new streaming service that only had food related content - something like Netflix but with only cooking shows!

Danny finds a few smart friends to launch his new startup Foodie-Fi in 2020 and started selling monthly and annual subscriptions, giving their customers unlimited on-demand access to exclusive food videos from around the world!

Danny created Foodie-Fi with a data driven mindset and wanted to ensure all future investment decisions and new features were decided using data. This case study focuses on using subscription style digital data to answer important business questions.

## **Available Data**

Danny has shared the data design for Foodie-Fi and also short descriptions on each of the database tables - our case study focuses on only 2 tables but there will be a challenge to create a new table for the Foodie-Fi team.

All datasets exist within the foodie_fi database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.


![image.png]()

## **Table 1: plans**
Customers can choose which plans to join Foodie-Fi when they first sign up.

Basic plan customers have limited access and can only stream their videos and is only available monthly at $9.90

Pro plan customers have no watch time limits and are able to download videos for offline viewing. Pro plans start at 19.90 USD a month or 199 USD for an annual subscription.

Customers can sign up to an initial 7 day free trial will automatically continue with the pro monthly subscription plan unless they cancel, downgrade to basic or upgrade to an annual pro plan at any point during the trial.

When customers cancel their Foodie-Fi service - they will have a churn plan record with a null price but their plan will continue until the end of the billing period.

## **Table 2: subscriptions**
Customer subscriptions show the exact date where their specific plan_id starts.

If customers downgrade from a pro plan or cancel their subscription - the higher plan will remain in place until the period is over - the start_date in the subscriptions table will reflect the date that the actual plan changes.

When customers upgrade their account from a basic plan to a pro or annual pro plan - the higher plan will take effect straightaway.

When customers churn - they will keep their access until the end of their current billing period but the start_date will be technically the day they decided to cancel their service.

## **Case Study Questions**

## 1. How many customers have upgraded to an annual plan in 2020?

**Expected Output:**

![image.png]()

In [2]:
# Write Your Code here.
mysql('''SELECT 
  COUNT(DISTINCT customer_id) AS unique_customer
FROM subscriptions
WHERE plan_id = 3
  AND start_date <= '2020-12-31';''')

   unique_customer
0              195

## 2. How many days on average does it take for a customer to an annual plan from the day they join Foodie-Fi?

**Expected Output:**

![image.png]()

In [10]:
# Write Your Code here.
mysql('''WITH trial_users AS (
SELECT
    s.customer_id,
    s.plan_id,
    s.start_date,
    p.plan_name
FROM subscriptions s
    LEFT JOIN plans p
        ON s.plan_id = p.plan_id
WHERE plan_name = "trial"
ORDER BY 1),
pro_users AS (
SELECT
    customer_id,
    plan_id,
    start_date,
    plan_name
FROM (
SELECT
    s.customer_id,
    s.plan_id,
    s.start_date,
    p.plan_name
FROM subscriptions s
    LEFT JOIN plans p
        ON s.plan_id = p.plan_id
ORDER BY 1) AS a
WHERE plan_name = "pro annual"
)
SELECT
    CEILING(AVG(days_to_became_pro)) AS average_days_to_pro
FROM (
    SELECT
        pu.customer_id,
        DATEDIFF(pu.start_date, tu.start_date) AS days_to_became_pro
    FROM pro_users pu
        LEFT JOIN trial_users tu
            ON pu.customer_id = tu.customer_id) AS f;''')

   average_days_to_pro
0                  105

## 3 & 4. What is the customer count and percentage breakdown of all 5 plan_name values at 2020-12-31?

**Expected Output:**

![image.png]()

In [15]:
# Write Your Code here.
mysql('''SELECT plan_id, customer_id as customer FROM subscriptions GROUP BY plan_id''')

# This answer is  wrong but not doing it anymore.

   plan_id  customer
0        0         1
1        1         1
2        3         2
3        4         4
4        2         7

# **MATH**

## 5. What are the differences between Normalization and Standardization?

Athough both are scaling techniques, they have some pecularities.

Normalization a.k.a. the Min Max Scaller (Background Score for this please)

This is a method of converting a n-dimentional data into a n-dimentional hypercube. In simple words, we shrink the data in the range of [0,1] or sometimes [-1,1]. Make a note that this kind of scalling should be done with the feature that does not consist of outliers. Eg. you can play around with a feature like age but not income cuz some people are really rich bro. 
I mean have you seen Adani.

Standardization a.k.a. Z-score (This sounds way cooler than min max )

In here we are not playing around with the min and max values of the data. Instead here we are just bringing the data into a Standard Normal Distribution format where the mean is 0 and SD is 1. This does not affect the shape of the data at all. We use SD and mean for scalling the data.

## 6. Explain ANOVA and it’s applications.

In Anova test we try to figure out if there is a significant difference between means of two or more groups. 

I referenced the example from Scribler as I could not come up with an immediate example for this. But this give the perfect idea

Your independent variable is social media use, and you assign groups to low, medium, and high levels of social media use to find out if there is a difference in hours of sleep per night